# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pycharm
.idea/

# Directory containing build artifacts
build/
dist/
*.egg-info
*.egg

# Logs
logs/

# Ignore IDE project files
.idea/

# Ignore the results directory
results/
# But do not ignore the specific model folder
!results/model_20240529_233313/